/*---Basic setup---*/
*{
    margin: 0;
    box-sizing:border-box;
    font-family: Roboto,sans-serif;
    }
    /*---Header---*/
    
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 10vh;
      width: 70%;
      margin: 0 auto;
    }
    nav ul {
      display: flex;
      list-style-type: none;
      text-transform: uppercase;
    }
    nav li {
    margin-left: 0.7rem;
    margin-right: 1rem;
    }
    
    nav img{
        height: 80px;
        width: auto;
    }
    .links li a:link,
    .links li a:visited,.links2 li a:link,
    .links2 li a:visited {
        padding: 8px 0;
        color: #bdbdbd;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 90%;
        border-bottom: 2px solid transparent;
        -webkit-transition: border-bottom 0.2s;
        transition: border-bottom 0.2s;
    }
    
    .links li a:hover,
    .links li a:active
    ,.links2 li a:hover,.links2 li a:active{
        border-bottom: 2px solid #4eb7e2;
        color:#8c8c8c;
    }
    
    .nav-icons{
        color: #bdbdbd;
        cursor: pointer;
        transition: 0.3s;
    }
    .nav-icons:hover{
        color:#8c8c8c;
    }
    
    /*---Slides---*/
    
    .mySlides {display: none;}
    .main-section img {vertical-align: middle;}
    
    /*---Slideshow container---*/
    .main-section{
      max-width: 1000px;
      position: relative;
      margin: auto;
    }
    
    /*---Caption text---*/
    
    .text1{
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    top:38%;
    left:25%;
    font-size: 14px;   
    }
    .text2 {
    color:black;
    font-size: 25px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    top:45%;
    left:25%;
    }
    /*---Slides button---*/
    .mySlides .btn{
      position: absolute;
      top: 57%;
      left: 26%;
      background-color: #57ccfc;
      color: white;
      font-size: 16px;
      padding: 10px 26px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      text-align: center;
      transition: 0.3s;
    }
    .mySlides .btn:hover {
      background-color: #4eb7e2;
    }
    
    
    /*---The dots---*/
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active {
      background-color: #717171;
    }
    
    /*---Fading animation---*/
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }
    
    @-webkit-keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    @keyframes fade {
      from {opacity: .4} 
      to {opacity: 1}
    }
    
    /*---On smaller screens, decrease text size---*/
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }
    
    .row {
        max-width: 1140px;
        margin: 0 auto;
    }
    .caption {
        background-color: #f7f7f7;
    }
    
    .bestprice p{
      position: absolute;
      bottom: 8px;
      left: 16px;
    }
    .bestprice img{
        display: relative;
    }
    .gray{
        background-color: 	#f7f7f7;
    }
    
    .links2 {
        display: flex;
        align-items:center;
        justify-content:space-around;
        height: 10vh;
        width: 80%;
        margin: 0 auto;
        list-style-type: none;
        padding-top: 1.5rem;
    }
    .links2 ul {
      display: flex;
      text-transform: uppercase;
    }
    .links2 li {
    margin-left: 2rem;
    margin-right: 3rem;
    }
    i {
          border: solid #57ccfc;
          border-width: 0 6px 6px 0;
          display: inline-block;
          padding: 4px;
          transition: 0.3s;
       }
    .rightArrow {
          transform: rotate(-45deg);
       }
       .leftArrow {
          transform: rotate(135deg);
       }
    
    .arrows{
        display: flex;
        align-items:center;
        justify-content: space-around;
        height: 3vh;
        width: 10%;
        margin-left: auto;
    }
    i:hover{
        border-color: #4eb7e2;
    }
    .item1{
       object-fit: cover;
    }
    .flex{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .section-features{
      position: relative;
      margin: auto;}
    .bestprice{
        position: absolute;
        left:15%;
        top:55%;
    }
    .viewall{
      background-color: #57ccfc;
      color: white;
      font-size: 1rem;
      padding: 0.5rem 2rem;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      text-align: center;
      transition: 0.3s;
      position: absolute;
      top:61%;
      left:15%;   
    }
    .viewall:hover{
        background-color: #4eb7e2;
    }
    .viewall1{
      background-color: #57ccfc;
      color: white;
      font-size: 1rem;
      padding: 0.8rem 3rem;
      border: none;
      cursor: pointer;
      border-radius: 10px;
      text-align: center;
    transition: transform 0.5s;
    }
    .viewall1:hover{
       -webkit-transform: scale(0.8);
    }
    .col{
        text-align: center;
    }
    .quantity{
        color: #bdbdbd;
    }
    .bestprice{
        font-size: 1.3rem;
    }